<div class="container mt-3">
    <h1>Shopping Cart</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for product, products in product_summary.items %}
                {% cycle 'odd-row' 'even-row' as row_class %}
                <tr class="{{ row_class }}">
                    <td>{{ product }}</td> 
                    <td>{{ products.price }}</td> 
                    <td>{{ products.quantity }}</td>      
                    <td>{{ products.total_price }}</td>        
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
