{% extends 'layout.html' %}
{% load custom_tags %}
{% block content %}

<div class="container mt-3">
    <h1>Shopping Cart</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            {% if forloop.counter|divisibleby:2 %}
                <tr style="background-color: #e90d0d;">
            {% else %}
                <tr style="background-color: #e9e9e9;">
            {% endif %}
                <td>{{ item.product.name }}</td> 
                <td>{{ item.product.price }}</td> 
                <td>{{ item.quantity }}</td>      
                <td>{{ item.total }}</td>        
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
