<div class="row mt-5">
    {% for card in card_collection %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ card.image }}" class="card-img-top img-fluid" alt="{{ card.image_alt }}"
                style="height: 200px;">
            <div class="card-body">
                <form method="post" action="/buyItem">
                    {% csrf_token %}
                    <input type="hidden" name="name" value="{{ card.name }}">
                    <input type="hidden" name="price" value="{{ card.price }}">
                    <input type="hidden" name="product_id" value="{{ card.id }}">
                    <h5 class="card-title">{{ card.name }}</h5>
                    <p class="card-text">{{ card.description }}</p>
                    <div class="d-flex justify-content-between align-middle text-center">
                        <button type="submit" class="btn btn-primary">BUY</button>
                        <div class="mt-2">{{ card.price }} $</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
