<div class="row mt-5">
    {% for card in card_collection %}
    <div class="col-md-4 mb-4">
        <div class="card " style="box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);">
            <div>
                <!-- <div class="position-absolute top-0 end-0">
                    <a href="{% url 'remove_product' card.product_id %}">
                        <button type="button" class="btn btn-outline-danger me-2" aria-label="Remove product">
                            <i class="bi bi-trash"></i>
                        </button>
                    </a>
                    <a href="{% url 'edit_product' card.product_id %}">
                        <button type="button" class="btn btn-outline-primary " aria-label="Edit product">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </a>
                </div> -->
            </div>
            <img src="{{ card.image }}" class="card-img-top img-fluid" alt="{{ card.name }}" style="height: 200px;">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div>
                        <h5 class="card-title">{{ card.name }}</h5>
                        <p class="card-text">{{ card.description }}</p>
                    </div>
                </div>
                
                <div class="d-flex justify-content-between align-items-center text-center">
                    <a href="{% url 'add_to_cart' card.product_id %}" class="btn "><button type="submit"
                        class="btn btn-primary">BUY</button></a>
                    <div class="mt-2">{{ card.price }} $</div>
                </div>
                </form>


            </div>
        </div>
    </div>
    {% endfor %}
</div>