{% extends 'layout_login.html' %}

{% block content %}
<div class="login-container ">
    <h2>Sign up</h2>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="input-group">
            <label for="password">Confirm Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">register</button>
    </form>
</div>

{% endblock %}